* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #d2e69c 0%, #8fd9a8 100%);
  color: whitesmoke;
  font-family: "Londrina", sans-serif;
  height: 100vh;
}

header {
  font-size: 2rem;
}

header,
form {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 20vh;
}

form input,
form button {
  background-color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
}

form button {
  background: white;
  color: #4b778d;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #4b778d;
  color: #28b5b5;
  cursor: grab;
}

form button:active {
  cursor: grabbing;
}

.todo-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.todo-list {
  list-style: none;
  min-width: 30%;
}

.todo {
  align-items: center;
  background-color: #4b778d;
  color: white;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  margin: 0.5rem;
  transition: all 0.2s ease;
}
.filter-todo {
  padding: 1rem;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #28b5b5;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1rem;
  font-size: 1rem;
}

.trash-btn {
  background-color: #ff6f47;
}

.todo-item {
  padding: 0rem 1rem;
}

.fa-trash,
.fa.check {
  pointer-events: none;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: none;
  border: 0 !important;
  box-shadow: none;
  outline: 0;
}

select {
  color: #28b5b5;
  cursor: pointer;
  font-family: "Londrina", sans-serif;
  width: 12rem;
}

.select {
  margin: 1rem;
  overflow: hidden;
  position: relative;
}

.select::after {
  background: #4b778d;
  content: "\25BC";
  cursor: pointer;
  padding: 1rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.select:hover::after {
  background: #28b5b5;
  color: white;
}
